<div width="100%" style="margin:0;padding:0!important;background-color:#f5f6fa">
  <center style="width:100%;background-color:#f3f3f3">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#f5f6fa"
    >
      <tbody>
        <tr>
          <td style="padding:20px 0 30px">
            <table style="width:100%;max-width:120px;margin:0 auto">
              <tbody>
                <tr>
                  <td style="text-align:center;padding-bottom:10px">
                    <a href="#"><img
                        style="height:60px"
                        src="https://firebasestorage.googleapis.com/v0/b/philipthedeveloper-p.appspot.com/o/blacksight%2Fblacksight-logo-horizontal.png?alt=media&token=6a479ca2-ad7a-48a2-a6ad-11a29f676995"
                        alt="logo"
                        class="CToWUd"
                        data-bit="iit"
                        jslog="138226; u014N:xr6bB; 53:WzAsMl0."
                      /></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              style="width:100%;max-width:620px;margin:0 auto;background-color:#ffffff"
            >
              <tbody>
                <tr>
                  <td style="padding:30px 30px 15px 30px">
                    <h2
                      style="font-size:25px;color:#1c398e;text-align:center;font-weight:600;margin:10px"
                    >
                      You've successfully reset your password</h2>
                  </td>
                </tr>

                <tr>
                  <td style="padding:0 30px 20px">

                    {{!-- {{#with locals}} --}}

                    <p style="margin:10px;color:#13171d;font-weight:600">Dear
                      {{firstName}},</p>
                    <p style="margin:10px;color:#8094ae;line-height:24px;">We
                      are writing to inform you that your password was
                      successfully changed on
                      {{date}}
                      at
                      {{time}}.</p>
                    <p style="margin:10px;color:#1c398e;line-height:24px;">If
                      you did not initiate this change, please contact our
                      support team at
                      <a
                        href="mailto:blacksightai@gmail.com"
                        target="_blank"
                      >blacksightai@gmail.com</a>
                      immediately for assistance.
                    </p>
                    <p style="margin:10px;line-height:24px;color:#8094ae">Thank
                      you for your attention to this matter.
                    </p>
                  </td>
                </tr>

                <tr>
                  <td style="padding:0 30px 20px;">
                    <p style="margin:10px;color:#13171d;font-weight:600">Best
                      regards,</p>
                    <p style="margin:10px;color:#8094ae">Blacksight Co.</p>
                  </td>
                </tr>

              </tbody>
            </table>

            <table style="width:100%;max-width:620px;margin:0 auto">
              <tbody>
                <tr>
                  <td style="text-align:center;padding:25px 20px 0">
                    <p style="font-size:13px">Copyright © 2024 Blacksight Co.
                      All rights reserved.
                      <br />
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</div>